<div class="container-sm text-center mt-5">
  <h2>Contactanos</h2>
  <div class="linea_blanca mt-5 mb-5"></div>
  <div>
    <h5>Rio Negro, Cipolletti <br>
    primeros Pobladores 2080</h5>
    <h5>+54 299 658-0518</h5>
    <p>El bar NavBar se lo podra contactar desde las 9:00 am hasta las 19:00 pm, <br> en caso de que quiera una reunion tendra que ser organizada con antelacion</p>
  </div>
  <div class="linea_blanca mt-5 mb-3"></div>
</div>

<div class="container-sm text-center mb-4">
  <h5>Para comunicarce por correo llene los siguientes datos</h5>
  <div class="linea_blanca mt-3 mb-3"></div>
  <div class="pading_form">
    <div class="mb-3">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
    </div>
    <div class="mb-3">
      
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo Electronico">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="telefono">
    </div>
    <div class="mb-3">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Deje su Mensaje"></textarea>
    </div>
  </div>
  

  <button type="button" class="btn btn-outline-light">Enviar</button>
</div>