<div class="mt-2">
  <div class="card bg-dark text-white">
    <img src="../../../assets/cocteleria/portada.jpg" class="card-img imagen"  alt="...">
    <div class="card-img-overlay">
      <h2 class="card-title margin_titulo">Cocteleria</h2>
    </div>
  </div>
</div>

<div class="container margen">
  <div class="row">
    <div class="col-md-6 text-center">
      <h2 class="mt-4">Veni a Disfrutar</h2>
    </div>
    <div class="col-md-6">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6">
                <div class="text-center">
                  <img src="../../../assets/cocteleria/Cubalibre.jpg" class="imagen_card" alt="...">
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-center">
                  <img src="../../../assets/cocteleria/Daiquiri-de-durazno.jpg" class="imagen_card" alt="...">
                </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <div class="text-center">
                  <img src="../../../assets/cocteleria/gintonic21.jpg" class="imagen_card" alt="...">
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-center">
                  <img src="../../../assets/cocteleria/who-makes-malibu-rum-.jpg" class="imagen_card" alt="...">
                </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <div class="text-center">
                  <img src="../../../assets/gastronomia/hamburguesa.jpg" class="imagen_card" alt="...">
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-center">
                  <img src="../../../assets/gastronomia/pizza.jpg" class="imagen_card" alt="...">
                </div>
              </div>
          </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      <div class="linea_blanca mt-4"></div>
    </div>
  </div>
</div>


<div class="container margen">
  <div class="row">
    <div class="col-md-6 text-center">
      <h3 class="mt-4">Veni a Disfrutar</h3>
      <h2>La Mejor Gastronomia</h2>
    </div>
    <div class="col-md-6">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="text-center">
                        <img src="../../../assets/gastronomia/hamburguesa.jpg" class="imagen_card" alt="...">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="text-center">
                        <img src="../../../assets/gastronomia/pizza.jpg" class="imagen_card" alt="...">
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="text-center">
                        <img src="../../../assets/gastronomia/milanesa.jpg" class="imagen_card" alt="...">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="text-center">
                        <img src="../../../assets/gastronomia/gastronomia.jpg" class="imagen_card" alt="...">
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="text-center">
                        <img src="../../../assets/gastronomia/rabas.jpg" class="imagen_card" alt="...">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="text-center">
                        <img src="../../../assets/gastronomia/ñoquis.jpg" class="imagen_card" alt="...">
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
      <div class="linea_blanca mt-4"></div>
    </div>
  </div>
</div>